/*
.mainPage {
  height: 750px;
}
*/

.addButton {
  display: inline-block;
  width: 200px;
  height: 30px;
  margin-left: 720px;
  padding-top: 5px;
  
  background: #0062C1;
  border-radius: 4px;
}

.addButton:hover {
  cursor: pointer;
}

.addButton__text {
  width: 146px;
  height: 18px;
  margin-left:27px;
  margin-top:0px;
  
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130.8%;
  
  color: #ffffff;
}

.block1 {
  width: 100%;
  /*height: 40px;*/
  margin-top: 20px;
  margin-bottom: 30px;
  /*background-color: crimson;*/
}

.category__text {
  display: inline-block;
  width: 230px;
  height: 32px;
  margin-left: 85px;
  
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130.8%;
  
  
  color: #000000;
}


.category__select {
  display: inline-block;
  width: 330px;
  height: 40px;
  margin-left: -50px;
  
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130.8%;
  
  
  color: #000000;
}

.block1__space {
  display: inline-block;
  margin-right: -940px;
  width: 100%;
  height: 32px;
}

.fromAll__text {
  display: inline-block;
  width: 250px;
  height: 24px;
  text-align: right;

  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 130.8%;
  /* identical to box height, or 24px */
  
  
  color: #929292;  
}

.block2 {
  width: 100%;
  /*height: 40px;*/
  /*background-color: rgb(6, 255, 89);*/
}


.headerOfListApplication {
  width: 1160px;
  height: 40px;
  margin-left: 81px;
  margin-top: 10px;
  
  background: #FFFFFF;
  border: 1px solid rgba(104, 104, 104, 0.59);
  box-sizing: border-box;
  border-radius: 4px;  
}

.headerOfListApplication__name {
  display: inline-block;
  width: 105px;
  height: 24px;
  margin-left: 35px;
  margin-top: 8px;
  
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130.8%;
  /* identical to box height, or 24px */
  
  
  color: #000000; 
}

.headerOfListApplication__downloads {
  display: inline-block;
  width: 80px;
  height: 24px;
  margin-left: 500px;
  margin-top: 8px;
  
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130.8%;
  /* identical to box height, or 24px */
  
  
  color: #000000;
}

.headerOfListApplication__activity {
  display: inline-block;
  width: 94px;
  height: 24px;
  margin-left: 141px;
  margin-top: 8px;
  
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130.8%;
  /* identical to box height, or 24px */  
  
  color: #000000;  
}

.bodyOfListApplication__name {

  width: 1160px;
  height: 565px;
  margin-left: 81px;
  margin-top: 10px;
  padding-top: 5px;
  
  background: #FFFFFF;
  border: 1px solid rgba(104, 104, 104, 0.59);
  box-sizing: border-box;
  border-radius: 4px;

  overflow-y: scroll;
  overflow-x: hidden;
}

.bodyOfListApplication__item {
  position: relative;
  width: 1070px;
  height: 110px;
  left: 30px;
  transition: 0.5s;

/*
* запрет выделения текста
*/
  user-select: none;

/**
* Для эксплорера
*/
-ms-user-select: none;

/**
* Для мозилы
*/
-moz-user-select: none;

/**
* Для конкверора
*/
-khtml-user-select: none;

/**
* Для Сафари и Хрома
*/
-webkit-user-select: none;
  
}

.bodyOfListApplication__item:hover{
  /*background-color: rgba(0, 17, 255, 0.404);*/
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  
  cursor: pointer;
  transition: 0.5s;
  
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}


.bodyOfListApplication__item__image {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 10px;
  top: 10px;
  
  background: #C4C4C4;
  border-radius: 4px;
}

.bodyOfListApplication__item__name {
  position: absolute;
  width: 500px;
  height: 20px;
  left: 115px;
  
  top: 50%;
  margin-top: -10px;
  
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130.8%;
  /* or 18px */
  
  color: #000000;
  /*background-color: brown;*/
}

.bodyOfListApplication__item__downloads {
  position: absolute;
  width: 40px;
  height: 24px;
  left: 626px;
  top: 40px;
  
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130.8%;
  /* identical to box height, or 24px */

  color: #000000;
}

.bodyOfListApplication__item__activity {
  position: absolute;
  width: 94px;
  height: 30px;
  left: 840px;
  top: 40px;
}

.button__on__off {
  width: 80px;
  height: 30px;
  
  background: #0062C1;
  border-radius: 4px;
}

.button__on__off__text {
  position: absolute;
  width: 94px;
  height: 18px;
  left: 8px;
  top: 4px;
  
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130.8%;
  /* or 24px */
  
  color: #FFFFFF;

}

.button__on__off__turn {
  position: absolute;
  height: 21px;
  top: 4.5px;
 
  background: #FFFFFF;
  border-radius: 4px;
  
  transition: 0.3s;
}

.button__on__off__turn_on {
  width: 38px;
  left: 38px;
}

.button__on__off__turn_off {
  width: 30px;
  left: 4px;
}

.bodyOfListApplication__item__delete {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1015px;
  top: 40px;

  background: url(../images/cross.png);  
  background-size: cover;
}

.block3 {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  /*height: 40px;*/
  /*background-color: rgb(223, 247, 11);*/
}

.pageCounter {
  display: inline-block;
  margin-left: 85px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130.8%;
  /* or 18px */
  
  
  color: #000000;
}

.pageCounter a {
 width:20px;
 margin: 10px;

 font-family: Tahoma;
 font-style: normal;
 font-weight: bolder;
 font-size: 32px;
 line-height: 130.8%;
}